   
 <link rel="stylesheet" 
 href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" 
 integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" 
 crossorigin="anonymous"> 

<div class="container-fluid">
  <!-- Carousel wrapper -->
  <div
    id="carouselBasicExample"
    class="carousel slide carousel-fade"
    data-mdb-ride="carousel"
  >    
    <!-- Inner -->
    <div class="carousel-inner">
      <!-- Single item -->
      <div class="carousel-item active">
        <img
          src="../static/photo/img1.jpg"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block background-dark">
          <p class="text1 text-dark"> <strong class="hit-the-floor">B-APP</strong> <br>
            We help you Budget 
            at no cost. <br>
            Let's get started and register you! <br>
            Taking Budgeting and savings to another level. <br>
            <strong class="hit-the-floor">CLICK-BELOW</strong>
            </p>
          <button class="btn bton btn-success btn-lg rounded-pill"><a class="btn1" href="{{url_for('auth.register')}}"><i class="fas fa-sign-in-alt"></i>&nbsp; LOGIN</a></button>
          <button class="btn bton1 btn-secondary btn-lg rounded-pill"><a href="{{url_for('auth.register')}}"><i class="fas fa-user-plus"></i>&nbsp;REGISTER</a></button>
        </div>
      </div>
  
      <!-- Single item -->
      <div class="carousel-item">
        <img
          src=""
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
    
        </div>
      </div>
  
      <!-- Single item -->
      <div class="carousel-item">
        <img
          src=""
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          
        </div>
      </div>
    </div>
    <!-- Inner -->
  
    <!-- Controls -->
    <button
      class="carousel-control-prev"
      type="button"
      data-mdb-target="#carouselBasicExample"
      data-mdb-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-mdb-target="#carouselBasicExample"
      data-mdb-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- Carousel wrapper -->

<!-- About us -->
<div class="aboutus-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="aboutus">
                    <h2 class="aboutus-title">About Us</h2>
                    <p class="aboutus-text">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in.</p>
                    <p class="aboutus-text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem</p>
                    <button class="btn"><a class="aboutus-more" href="#">read more</a></button>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="aboutus-banner">
                    <img src="../static/photo/coinview-app-h7a6g0ua6LM-unsplash-removebg-preview.png" alt="">
                </div>
            </div>
            <div class="col-md-5 col-sm-6 col-xs-12">
                <div class="feature">
                    <div class="feature-box">
                        <div class="clearfix">
                            <div class="iconset">
                                <i class="fas fa-hand-holding-usd"></i>
                            </div>
                            <div class="feature-content">
                                <h4>Easy budget flow</h4>
                                <p>Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in.</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="clearfix">
                            <div class="iconset">
                                <i class="fas fa-calculator-alt"></i>
                            </div>
                            <div class="feature-content">
                                <h4>Accurate calculations</h4>
                                <p>Donec vitae sapien ut libero venenatis faucibu. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="clearfix">
                            <div class="iconset">
                                <i class="fas fa-bells"></i>
                            </div>
                            <div class="feature-content">
                                <h4>Updated alert/display</h4>
                                <p>Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>